
@media (max-width: 768px) {
   .container .box{
      flex-flow: column;
      width: 88%;
   }
   .container .box .myimage:before{
      width: 100%;
      box-shadow: 0 15px 0 rgb(133, 129, 129);
      top: -36%;
      left: 0;
   }
   .container .box .myimage img{
      width: 100px;
      width: 100px;
   }
   .container .box .content{
      display: block;
  }
  .container .box .content .name_post{
   padding: 10px;
   width: 235px;
   height: 40px;
   border-radius: 0 0 0 0;
   margin-top: 5px;
   text-align: center;
}
.container .box .content .intro .name{
   font-size: 19px;
}
.container .box .content .intro .dept{
   font-size:15px;
}
.container .box .content .icon{
   margin-left:0;
   margin-top: 10px;
   text-align: center;
}
.container .box .contact li i{
   height: 25px;
   width: 25px;
   line-height: 25px;
   font-size: 16px;
}
.container .box .contact li a{
   font-size: 15px;
}
}
